.footer {
  background: #8A4BED;
  margin-top: 105px;
}
.footer-wrapper {
  flex: 0 0 auto;
  color: #FFFFFF;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.footer__links {
  /* padding: 0 60px; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  padding-bottom: 58px;
  max-width: 1320px;
  gap: 135px;
}
.footer__items:nth-child(3) {
  margin-left: -13px;
}
.footer__items {
  display: flex;
  flex-direction: column;
  /* width: 33.333%; */
  gap: 16px;
}
.footer__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  opacity: 0.87;
  padding-bottom: 8px;
}
.footer__l_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 106px;
  row-gap: 13px;
  column-gap: 137px;
}
.footer__link {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  width: fit-content;
}
.footer__l {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em;
  opacity: 0.87;
}
.footer__footnotes_wrapper {
  font-weight: 600;
  font-size: 14px;
  line-height: 9px;
  letter-spacing: 0.005em;
  background: rgba(0, 0, 0, 0.07);
  color: #FFFFFF;
}
.footer__footnotes {
  display: flex;
  justify-content: flex-start;
  gap: 148px;
  align-items: center;
  flex-direction: row;
  padding: 23px 60px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.footer__footnotes_link {
  color: #FFFFFF;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-left: 220px;
}
