.footer {
  background: #8A4BED;
  margin-top: 72px;
}
.footer-wrapper {
  flex: 0 0 auto;
  color: #FFFFFF;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.footer__links {
  padding: 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 32px;
  max-width: 1440px;
}
.footer__items {
  display: flex;
  flex-direction: column;
  width: 33.333%;
  gap: 16px;
}
.footer__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  opacity: 0.72;
}
.footer__link {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  width: fit-content;
}
.footer__l {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.footer__footnotes_wrapper {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005em;
  background: rgba(0, 0, 0, 0.07);
  color: #FFFFFF;
}
.footer__footnotes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 12px 60px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.footer__footnotes_link {
  color: #FFFFFF;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
