@media (max-width: 1439px) {
    .header {
      height: 96px;
      padding: 0 36px;
    }
    .logo, .logo > a > img {
      height: 56px;
      width: 62px;
      left: 36px;
    }
    .navigation__menu {
      font-size: 16px;
      line-height: 20px;
      gap: 4.16vw;
    }
}