.overlay {
  display: none;
  cursor: pointer;
}
.main {
  flex: 1 1 auto;
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.description {
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  display: flex;
  flex-direction: row;
  width: 1440px;
  max-width: 1320px;
}
.description__text {
  max-width: 984px;
  letter-spacing: -1px;
}
.title {
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
}
.title_logo {
  color: #FF78FD;
  font-size: 72px;
}
.description__text_mail {
  font-size: 24px;
  line-height: 32px;
  padding-top: 86px;
  max-width: 425px;
  font-weight: 600;
  letter-spacing: -0.4px;
}
.main__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 32px;
}
.email-form {
  display: flex;
  flex-direction: row;
}
.main__input_email {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  width: 368px;
  height: 56px;
  background-color: rgba(226,226,233,0.54);
  border: none;
  border-radius: 8px 0 0 8px;
  text-align: center;
  font-size: 18px;
  outline:none;
  padding: 0 24px;
}
.main__input_email:focus {
  border: 2px solid #122537;
  background: #F5F5F7;
  text-align: left;
  color: #122537;
}
.main__input_email:not(:placeholder-shown) {
  text-align: left;
}
.arrow {
  width: 56px;
  height: 56px;
  cursor: pointer;
  /* margin-left: -4px; */
  z-index: 2;
  transition: 0.3s;
}
.arrow:hover {
  opacity: 0.9;
}
.main__img {
  position: absolute;
  top: 300px;
  right: 75px;
  z-index: -1;
}
.idea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(170.75deg, #9AE7FC 0.69%, #AC06F9 132.06%);
  box-shadow: 16px 16px 56px rgba(160, 160, 252, 0.35);
  border-radius: 32px;
  padding: 40px 112px 48px 96px;
  margin-top: 120px;
  color: #FFFFFF;
  gap: 96px;
  width: 1440px;
  max-width: 1320px;
}
.idea__img {
  width: 256px;
  height: 256px;
}
.idea__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 760px;
}
.idea__description_text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.15px;;
}
.idea__description_link {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgba(245, 245, 247, 0.54);
  border-radius: 28px;
  padding: 10px 16px;
  gap: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}
.idea__description_link:hover {
  border: 2px solid #E8EAEC;
}
.idea__description_a {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.telegram {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  max-width: 1320px;
}
.telegram_bot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 100px;
}
.telegram_bot > p:nth-child(2) {
  max-width: 760px;
}
.telegram__description {
  font-size: 24px;
  line-height: 30px;
  padding: 40px 0;
  letter-spacing: -0.4px;
}
.pink-text {
  color: #FF78FD;
}
.telegram__description_link {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgba(232,234,236,1);
  border-radius: 28px;
  padding: 10px 16px;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.telegram__description_link:hover {
  border: 2px solid #122537;
}

.telegram__description_a {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.telegram__img {
  display: flex;
  height: 525px;
  width: 435px;
}
.stage {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: linear-gradient(180deg, #E5EEF8 0%, rgba(229, 238, 248, 0) 108.98%);
  background-size: 100%;
  width: 100%;
}
.stage__list {
  display: flex;
  flex-direction: row;
  letter-spacing: 0.5px;
  gap: 40px;
  padding: 37px 0 0 0;
  border-bottom: 2px solid rgba(18,37,55,0.07);
}
.stage__link {
  cursor: pointer;
  padding-bottom: 7px;
  /* transition: 0.1s; */
  opacity: 0.72;
}
.stage__link_active {
  border-bottom: 2px solid #122537;
  margin-bottom: -2px;
  opacity: 1;
}
.stage__link:not(.stage__link_active):hover {
  border-bottom: 2px solid rgba(18,37,55,0.54);
  margin-bottom: -2px;
}
.stage__progress {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  width: 424px;
}
.stage__progress_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vertical_line {
  width: 2px;
  height: 40px;
}
.stage__progress_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 336px;
  letter-spacing: 0.3px;
  padding-left: 24px;
  line-height: 24px;
}
.stage__progress_text > li {
  height: 64px;
  display: flex;
  align-items: center;
}
.new-place {
  display: flex;
  flex-direction: row;
  padding-top: 125px;
  padding-bottom: 115px;
  width: 1440px;
  max-width: 1320px;
}
.new-place-img {
  left: calc((100vw - 1320px - 612px) / 2);
  position: absolute;
  z-index: -1;
}
.new-place__description {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-left: 385px;
  max-width: 830px;
}
.new-place__description > p {
  padding-left: 60px;
}
.new-place__text{
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 18px;
  line-height: 24px;
}
.number {
  font-weight: 100;
  font-size: 64px;
  color: #FF78FD;
}
.new-place__plus {
  display: inline-block;
  background-image: url('../assets/img/add_new_place_icon.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -14px;
}
.new-place__link {
  margin-left: 60px;
}
.FAQs {
  background: linear-gradient(191.06deg, #FE80FD -37.97%, #8A4BED 84.29%);
  box-shadow: 16px 16px 56px rgba(128, 70, 220, 0.27);
  border-radius: 32px;
  color: #FFFFFF;
  padding: 40px 122px 15px 112px;
  width: 1440px;
  max-width: 1320px;
}
.FAQ {
  display: flex;
  flex-direction: column;
  cursor: default;
  letter-spacing: -0.3px;
  cursor: pointer;
}
.FAQ_text {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 32px;
  height: 80px;
  align-items: center;
}
.FAQ_text > p {
  cursor: pointer;
}
.plus {
  color: #F5F5F7;
  font-size: 35px;
  cursor: pointer;
}
.FAQ__border {
  border-top: 3px solid rgba(245, 245, 247, 0.1);
}
.FAQ__answer {
  display: none;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
  height: fit-content;
}
.FAQ__answer_open{
  display: block;
  padding-bottom: 17px;
}
.distribution {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.distribution__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  letter-spacing: -0.5px;
}