* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
  margin: 0px;
  background-image: url("./assets/img/bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  overflow-x: hidden;
  overflow-y: overlay;
}
a {
  text-decoration: none;
  color: #122537;
}
li {
  list-style-type: none;
}
p {
  cursor: default;
}
button {
  border: none;
  padding: 0px;
  height: 0px;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #122537;
}
.add_place {
  display: inline-block;
  background-image: url('./assets/img/add_new_place.svg');
  width: 80px;
  height: 80px;
  position: fixed;
  right: 60px;
  bottom: 64px;
}
.to_top {
  display: none;
  position: fixed;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  right: 60px;
  bottom: 160px;
  background: #B6B6C8;
  border: none;
  cursor: pointer;
  opacity: 0.72;
  box-shadow: 0px 8px 32px rgba(18, 37, 55, 0.17);
}
@media (max-width: 1439px) {
  body {
    background-image: url("./assets/img/bg768.svg");
  }
  .wrapper {
    font-size: 18px;
    line-height: 24px;
  }
  .add_place {
    right: 36px;
    width: 56px;
    height: 56px;
    bottom: 40px;
    background-image: url('./assets/img/add_new_place768.svg');
  }
  .to_top {
    width: 56px;
    height: 56px;
    bottom: 110px;
    right: 36px;
  }
  .to_top > img {
    width: 16.33px;
    height: 9.33px;
  }
}